/* CSS Document */
html, body {
	margin: 10px;
	padding: 10px;
	background-color: #dddddd;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 100;
        color: #666666;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:normal;
	color: #333333;
	margin-top:1;
	padding-top:0;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:600;
	color: #333333;
	margin-top:0;
	padding-top:0;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:600;
	color: #333333;
	margin-top:0;
	padding-top:0;
}

#body {
	margin: 0 auto;
	background-color:#FFFFFF;
	width: 90%;
	position:relative;
}

#menu {
	width: 60%;
	height: 25px;
	background-color: #640000;
	position:relative;
	padding-top: 1px;
}

#mitems a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-decoration:none;
	color: #CCCCCC;
	font-weight:bold;
}

#mitems a:hover {
	color:#FFFFFF;
}

#mitems ul {
	margin: 0;
	padding: 0;
        text-align: center;
}

#mitems li {
	list-style-type: none;
	display: block;
        float: left;
	margin: 0px 40px 0px 33px;
}

#logo {
	padding: 5px;
}

.imgtoppad {
	padding-top: 15px;
	float:right;
}

.halfwidth {
	width: 390px;
	float:left;
	text-align:justify;
	padding: 10px;
}

.halfwidth a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	color:#666666;
}

.halfwidth a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	color: #999999;
	text-decoration:underline;
}

.fullwidth {
	width: 800px;
	padding: 10px;
}

.fullwidth a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	color:#666666;
}

.fullwidth a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:600;
	text-decoration:none;
	color: #999999;
	text-decoration:underline;
}



#footer {
	clear:both;
	border-top: 1px solid #CCCCCC;
	font-size:12px;
	color:#CCCCCC;
	padding-left: 5px;
}